@model IEnumerable<Forum.Models.ApplicationUser>

@{
    ViewBag.Title = "Panel Administratora";
}

<h2>Panel Administratora</h2>

<table class="table">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Email</th>
            <th>Rola</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    @string.Join(", ", user.Roles) <!-- Dołączamy role, jeżeli jest ich więcej niż jedna -->
                </td> <!-- Zmodyfikuj tę linię, aby uzyskać rolę użytkownika -->
                <td>
                    @Html.ActionLink("Edytuj", "EditUser", new { id = user.Id }) |
                    @Html.ActionLink("Usuń", "DeleteUser", new { id = user.Id }, new { onclick = "return confirm('Czy na pewno chcesz usunąć tego użytkownika?');" })
                </td>
            </tr>
        }
    </tbody>
</table>
