@model IEnumerable<Forum.Models.ApplicationUser>

@{
    ViewBag.Title = "Panel Administratora";
}

<h2>Panel Administratora</h2>
<hr />
<h3>Zarządzanie użytkownikami</h3>
<table class="table">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Email</th>
            <th>Rola</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    @if (user.Roles.Any())
                    {
                        foreach (var role in user.Roles)
                        {
                            <span>@role.RoleId</span>
                        }
                    }
                    else
                    {
                        <span>Brak ról</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "EditUser", new { id = user.Id }) |
                    @Html.ActionLink("Usuń", "DeleteUser", new { id = user.Id },
                        new { onclick = "return confirm('Czy na pewno chcesz usunąć tego użytkownika?');" })
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<h3>Kategorie</h3>
<table class="table">
    <thead>
        <tr>
            <th>Nazwa kategorii</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in ViewBag.Categories as IEnumerable<Forum.Models.Category>)
        {
            <tr>
                <td>@category.Name</td>
                <td>
                    <a href="@Url.Action("EditCategory", "Categories", new { id = category.Id })">Edytuj</a> |
                    <a href="@Url.Action("DeleteCategory", "Categories", new { id = category.Id })" onclick="return confirm('Czy na pewno chcesz usunąć tę kategorię?');">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("CreateCategory", "Categories")" class="btn btn-success">Dodaj kategorię</a>

<hr />
<h3>Fora</h3>
<table class="table">
    <thead>
        <tr>
            <th>Nazwa Forum</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forum in ViewBag.Forums as IEnumerable<Forum.Models.Forum>)
        {
            <tr>
                <td>@forum.Name</td>
                <td>
                    <a href="@Url.Action("ManageModerators", "Forums", new { forumId = forum.Id })">Zarządzaj moderatorami</a> |
                    <a href="@Url.Action("EditForum", "Forums", new { id = forum.Id })">Edytuj</a> |
                    <a href="@Url.Action("DeleteForum", "Forums", new { id = forum.Id })" onclick="return confirm('Czy na pewno chcesz usunąć to forum?');">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("CreateForum", "Forums")" class="btn btn-success">Dodaj forum</a>

<hr />
<h3>Wiadomości</h3>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Treść</th>
            <th>Autor</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in ViewBag.Messages as IEnumerable<Forum.Models.Message>)
        {
            <tr>
                <td>@message.Id</td>
                <td>@message.Content</td>
                <td>@message.UserName</td>
                <td>
                    <a href="@Url.Action("Edit", "Messages", new { id = message.Id })">Edytuj</a> |
                    <a href="@Url.Action("Delete", "Messages", new { id = message.Id })" onclick="return confirm('Czy na pewno chcesz usunąć tą wiadomość');">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />
<h3>Słownik słów zakazanych: <a href="@Url.Action("ForbiddenWords", "AdminPanel")">Słownik</a></h3>
