<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Forum</title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/Forum.styles.css" />
    <link rel="icon" href="~/Content/Icons/gamepad.png" type="image/png" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #e1e3e6">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Forum</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="mx-auto">
                        <form class="d-flex search-bar" role="search">
                            <input class="form-control me-2" type="search" placeholder="Wyszukiwanie..." aria-label="Search" style="background-color: #f4f4f4;"/>
                            <button class="btn custom-search-btn" type="submit">Wyszukaj</button>
                        </form>
                    </div>

                    <ul class="navbar-nav ms-auto">
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()

                                <ul class="navbar-nav navbar-right">
                                    <li>
                                        @Html.ActionLink(User.Identity.Name.Split('@')[0], "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
                                    </li>
                                    <li>
                                        <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()" style="color:darkred;">Wyloguj</a>
                                    </li>
                                </ul>
                            }
                        }
                        else
                        {
                            <ul class="navbar-nav navbar-right">
                                <li>@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
                                <li>@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                            </ul>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex justify-content-between">
            <span>&copy; 2024 - Forum by Weronika Sosnowska - <a href="@Url.Action("Privacy", "Home")">Privacy</a></span>
            <span class="language-switch">PL / EN</span>
        </div>
    </footer>

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
