﻿@model Forum.Models.RegisterViewModel
@{
    ViewBag.Title = "Rejestracja";
}
<link rel="stylesheet" href="~/Content/Styles/register.css" />
<link rel="stylesheet" href="~/Content/Styles/threads.css" />
<body>
    <main class="main-container">
        <div class="register-container">
            <section class="register-section">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h2>Zarejestruj się</h2>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, "Hasło", new { @class = "form-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, "Powtórz hasło", new { @class = "form-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                    <div class="button-container">
                        <input type="submit" value="Zarejestruj" class="btn-cust" />
                    </div>
                }
            </section>
        </div>
    </main>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}