@using Microsoft.AspNet.Identity;
@model Forum.Models.Thread

@{
    ViewBag.Title = Model.Title;
    Model.UserName = Model.UserName.Split('@')[0];
    var currentUserId = User.Identity.GetUserId();
    bool isAuthor = Model.UserId == currentUserId;
}
<link rel="stylesheet" href="~/Content/Styles/threads.css" />
<main class="main-content">
    <div class="main">
        <h2><strong>@Model.Title | @Model.UserName | @Model.Forum.Name | @Model.CreatedAt.ToString("dd/MM/yyyy")</strong></h2>
        <p>@Model.Content</p>
        <hr />
        <h2>Wiadomości</h2>
        @foreach (var message in Model.Messages)
        {
            var userName = message.UserName.Split('@')[0];
            <div>
                <p>
                    <strong>@userName</strong> | @message.CreatedAt.ToString("dd/MM/yyyy")
                    @if (User.IsInRole("moderator") || User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Edytuj", "Edit", "Messages", new { id = message.Id }, new { @class = "btn-custom-2", style = "margin:10px;text-decoration:none;" })
                        @Html.ActionLink("Usuń", "Delete", "Messages", new { id = message.Id }, new { @class = "btn-custom-2", style = "text-decoration:none;" })

                    }
                </p>
                <p>@message.Content</p>
            </div><hr />
        }

        @if (User.Identity.IsAuthenticated)
        {
            <h4>Dodaj wiadomość</h4>

            using (Html.BeginForm("Create", "Messages"))
            {
                @Html.AntiForgeryToken()

                @Html.Hidden("threadId", Model.Id)

                <div class="form-group">
                    @Html.TextArea("Content", new { @class = "form-control", rows = 3, placeholder = "Dodaj odpowiedź..." })
                    @Html.ValidationMessage("Content")
                </div>
                <button type="submit" class="btn-custom">Dodaj wiadomość</button>
            }
            <hr />
            if (User.IsInRole("admin") || isAuthor)
            {
                @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }, new { @class = "btn-custom", style = "margin:10px;text-decoration:none;" })
                @Html.ActionLink("Usuń", "Delete", new { id = Model.Id }, new { @class = "btn-custom", style = "text-decoration:none;" })
            }
        }

    </div>
</main>