@model Forum.Models.Thread

@{
    ViewBag.Title = Model.Title;
    Model.UserName = Model.UserName.Split('@')[0];
}

<h2>@Model.Title | @Model.UserName | @Model.CreatedAt.ToString("dd/MM/yyyy")</h2>
<p>@Model.Content</p>
<hr />
<h3>Wiadomości</h3>
@foreach (var message in Model.Messages)
{
    var userName = message.UserName.Split('@')[0];
    <div>
        <p>Autor: @userName | <small>@message.CreatedAt.ToString("dd/MM/yyyy")</small></p>
        <p>@message.Content</p>
    </div><hr />
}

@if (User.Identity.IsAuthenticated)
{
    <h4>Dodaj wiadomość</h4>

    @Html.BeginForm("Create", "Messages")
    {
        @Html.AntiForgeryToken()

        @Html.Hidden("threadId", Model.Id)

        <div class="form-group">
            @Html.TextArea("Content", new { @class = "form-control", rows = 3, placeholder = "Dodaj odpowiedź..." })
            @Html.ValidationMessage("Content")
        </div>

        <button type="submit" class="btn btn-primary">Dodaj wiadomość</button>
    }
}