@model Forum.Models.Thread

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title | @Model.UserName</h2>
<p>@Model.Content</p>
<p><strong>Data utworzenia:</strong> @Model.CreatedAt.ToString("dd/MM/yyyy")</p>

<h3>Wiadomości</h3>
@foreach (var message in Model.Messages)
{
    <div>
        <p>Autor: @message.UserName | <small>@message.CreatedAt.ToString("dd/MM/yyyy")</small></p>
        <p>@message.Content</p>
    </div>
}

@if (User.Identity.IsAuthenticated)
{
    <h4>Dodaj wiadomość</h4>

    @Html.BeginForm("Create", "Messages")
    {
        @Html.AntiForgeryToken()

        @Html.Hidden("threadId", Model.Id)

        <div class="form-group">
            @Html.TextArea("Content", new { @class = "form-control", rows = 3, placeholder = "Dodaj odpowiedź..." })
            @Html.ValidationMessage("Content")
        </div>

        <button type="submit" class="btn btn-primary">Dodaj wiadomość</button>
    }
}