@model Forum.Models.Thread
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Edycja Wątku";
    var currentUserId = User.Identity.GetUserId();
    bool isAuthor = Model.UserId == currentUserId;
}

@if (User.IsInRole("admin") || isAuthor)
{
    <link rel="stylesheet" href="~/Content/Styles/threads.css" />
    <body>
        <main class="main-container-2">
            <div class="main">
                <h2>Edycja Wątku</h2>
                <hr />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title)
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Content)
                        @Html.TextAreaFor(model => model.Content, new { @class = "form-control", rows = 5 })
                    </div>

                    <div class="form-group">
                        @Html.Label("Wybierz kategorię")
                        @Html.DropDownList("CategoryId", new SelectList(ViewBag.Categories, "Id", "Name", Model.CategoryId), "Wybierz kategorię", new { @class = "form-control" })
                    </div>

                    <button type="submit" class="btn-create" style="margin-left: -40px;">Zapisz zmiany</button>
                    @Html.ActionLink("Anuluj", "Details", "Threads", new { id = Model.Id }, new { @class = "btn-create", style = "text-decoration: none;" });
                }
            </div>
        </main>
    </body>
}
else
{
    Response.Redirect("~/Account/Login");
}
