@model Forum.Models.Thread
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Edycja wątku";
    var currentUserId = User.Identity.GetUserId();
    bool isAuthor = Model.UserId == currentUserId;
}

@if (User.IsInRole("admin") || isAuthor)
{
    <link rel="stylesheet" href="~/Content/Styles/threads.css" />
    <body>
        <main class="main-container-2">
            <div class="main">
                <h2>Edycja wątku</h2>
                <hr />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, "Tytuł")
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Content, "Treść")
                        @Html.TextAreaFor(model => model.Content, new { @class = "form-control", rows = 5 })
                    </div>

                    <div class="form-group">
                        @Html.Label("Wybierz forum")
                        @Html.DropDownList("ForumId", new SelectList(ViewBag.Forums, "Id", "Name", Model.ForumId), "Wybierz forum", new { @class = "form-control" })
                    </div>
                    
                    <div class="button-container">
                        <button type="submit" class="btn-cust">Zapisz zmiany</button>
                        @Html.ActionLink("Anuluj", "Details", "Threads", new { id = Model.Id }, new { @class = "btn-cust", style = "text-decoration: none;" })
                    </div>
                    }
            </div>
        </main>
    </body>
}
else
{
    Response.Redirect("~/Account/Login");
}
